<section>
    <div class="row p-5">
        <div class="col-lg-6">
            <div class="card shadow">
                <div class="card-header">
                    <h4 class="card-title">Wellcome Waleed</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        <a class="btn btn-primary btn-sm" href="#">Read More</a>
                    </p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary btn-sm" href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
